/bitrix
/upload
/tmp
.idea
.env
*.log
.vscode
.sass-cache
/local/vendor

#подключение кастомнных страниц в админке битрикса - Квартиры
!/bitrix/
/bitrix/*
!/bitrix/admin/
/bitrix/admin/*
!/bitrix/admin/lsr_apartments_list.php
!/bitrix/admin/lsr_houses_list.php