Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>

# Закрываем доступ к файлам composer.json и composer.lock
<FilesMatch "(composer\.json|composer\.lock)">
    Order allow,deny
    Deny from all
</FilesMatch>

# Закрываем доступ ко всей папке vendor
# Альтернативный способ запрета доступа к папке vendor (если не поддерживается <Directory>)
RewriteEngine On
RewriteRule ^local/vendor/ - [F,L]
RewriteRule ^.git/ - [F,L]
